// variables for this project
$accent-color: #01A479;
$common-color-1: white;

$theme-colors: (
  "primary": $accent-color
);

$jumbotron-bg: $common-color-1;

$h1-font-size: 1rem * 3;

$navbar-light-active-color: $accent-color;

//cutom animation
.card-animated{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card-animated:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

img { 
    image-rendering: -webkit-optimize-contrast; 
}


// .body {
// 	// opacity: 0;
// 	transition: .9s opacity ease-in-out;
// }
// .body_visible {
// 	opacity: 1;
// }

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
